[Unit]
Description=IPFS Pinner service
After=ipfs.service

[Service]
User=ninja
ExecStart=/home/ninja/ipfs-pinme/pinner-service.sh
Restart=always

[Install]
WantedBy=ipfs.service